/*Retirada da margem do body*/
body{
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}
/*......................................................*/

/*menu fixo*/
#menu ul
{
	margin-top: -2.9%;
    margin-right: 5%;
    list-style-type: none;
}

#menu li
{
	font-size: 18px;
	color: #FFFFFF;
    margin: 0;
    list-style-type: none;
    float: right;
    padding: 10px 10px;
}

#logo{
	padding: 1%;
	width: 10%;
}

#menu{
	position: fixed;
	top: 0;
	width: 100%;
	height: 7%;
	background-color: rgba(0,0,0,0.7);
}
/*......................................................*/

/*Banner principal com titulo*/
#banner img{
	width: 100%;
	height: 100vh;
	margin: auto;
}

#textos{	
	text-align: center;
	margin-top: -35%;
	margin-bottom: -40%;
	margin-right: auto;
}

#textos ul{
	list-style-position: inside;
	font-size:52px; 
	color: #FFFFFF;
	text-shadow: 2px 2px #808080;
	list-style-image: url(icone-header.png);
}

#textos li{
	width: auto;
}

#textos button{
	font-size: 25px;
	background-color: transparent;
	color: #FFFFFF;
	border-color: #FFFFFF;
	text-align: center;
	width: 20%;
	height: 3%;
}
/*......................................................*/

/*texto abaixo do banner*/
#resumo{
	margin-top: 65%;
}

#resumo img{
	margin-left: 3%;
	width: 17%;
	height: auto;
}

#resumo_txt{
	padding-left: 24%;
	margin-top: -10%;
	padding-bottom: 3%;
}

#resumo_txt h2{
	font-size: 35px;
	color: #FF6347;
	letter-spacing: 5px;
}

#resumo_txt p{
	text-align: justify;
	margin-right: 2%;
}
/*......................................................*/

hr{
	width: 100%;
	opacity: 0.3;
}
/*......................................................*/

/*Blocos de conteudo*/
#web h2{
	font-size: 35px;
	color: #FF6347;
	letter-spacing: 5px;
	text-align: center;
}

.blocos{
	width: 17%;
	margin: 3.5%;
	float: left;
	display: inline-block;
	color: white;
}

.img_blocos{
	display: block;
	margin: auto;

}

#js{
	width: 124px;
	height: 164px;
}

.blocos_cont{
	padding-left: 5%;
	padding-bottom: 5%;
}

.postagem{
	color: black;
	text-align: center;
}
/*......................................................*/

/*cores dos blocos*/
.laranja{
	background-color: #d65b43;
	border: 2px solid #BEBEBE;
	border-bottom: 0px;
}

.azul{
	background-color: #6cc5eb;
	border: 2px solid #BEBEBE;
	border-bottom: 0px;
}

.amarelo{
	background-color: #f3ca4b;
	border: 2px solid #BEBEBE;
	border-bottom: 0px;
}

.vermelho{
	background-color: #b21300;
	border: 2px solid #BEBEBE;
	border-bottom: 0px;
}

.roxo{
	background-color: #8a2bff;
	border: 2px solid #BEBEBE;
	border-bottom: 0px;
}

.vinho{
	background-color: #a72d3a;
	border: 2px solid #BEBEBE;
	border-bottom: 0px;
}

.branco{
	border-left: 2px solid #BEBEBE;
	border-bottom: 2px solid #BEBEBE;
}

/*......................................................*/

/*botoes dos blocos*/
 .b_estudar{
 	color: #FFFFFF;
 	background-color: #ff7b01;
 	display: block;
 	margin: auto;
 	margin-bottom: 7%;
 	letter-spacing: 2px;
 	padding: 10px;
 	border-radius: 5px;
 }

 .ver{
 	font-size: 20px;
 	color: #FFFFFF;
 	background-color: #000000;
 	display: block;
 	margin: auto;
 	margin-bottom: 2%;
 	letter-spacing: 2px;
 	padding: 10px;
 	border-radius: 5px;
 	width: 10%
 }
 /*......................................................*/

#JS{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

#alerta {
	width: 400px;
	background-color: #eddfdf;
	border: 1px solid #ccc;
	margin: 40px auto;
	cursor: move;
	position: absolute;
	left: calc(50% - 200px);
	z-index: 999;
}

#alerta .title{
	background-color: #329596;
	height: 30px;
	border-bottom: 1px solid #227374;
	text-transform: uppercase;
	padding: 10px 10px 0px 0px;
	text-align: center;
	color: #073c3d;
	text-shadow: 1px 1px 1px #6fabac;
}

#alerta .title i{
	float: right;
	padding-top: 3px;
}

#alerta .body{
	padding: 10px;
}

form button{
	display: block;
	padding: 4px 11px;
	border: 1px solid #ffcc00;
	background-color: #ffcc00 !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#ff6600)) !important;
	background: -webkit-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -moz-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -ms-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -o-linear-gradient(top, #ffcc00, #ff6600) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff6600',GradientType=0 );
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 0 #666;
	cursor:pointer;
	position: relative;
	margin: 10px auto;
}

input[type=text]{   
    height: 34px;
    width: 315px;
    padding: 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#alerta .resultado{
	color: #227210;
	font-size: 12px;
}


#contador {
	color: #227210;
	background-color: white;
	text-align: center;
	position: relative;
	z-index: 9999999;
}

.transition {
    -webkit-transform: scale(1.3); 
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.blocos, button {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
}

.blocos .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.blocos .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.blocos:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}